name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  typos:
    uses: ./.github/workflows/typos-reusable.yml

  all-required-green: # This job does nothing and is only used for the branch protection
    name: CI Status
    runs-on: ubuntu-latest
    needs:
      - typos
    if: always()
    steps:
      - name: Check whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@2765efec08f0fd63e83ad900f5fd75646be69ff6
        with:
          jobs: ${{ toJSON(needs) }}
